.head {
    text-align: center;
    background-color: white;
    font-family: "Helvetica";
    color: mediumseagreen;
}
.head1 {
    text-align: center;
    background-color: white;
    font-family: "Helvetica";
    color: mediumseagreen;
    margin-top: 5%;
    font-weight: bold;
}
.top-bar {
    background-color: mediumaquamarine;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text {
    margin-left: 5%;
    color: darkgreen;
    font-family: helvetica;
    text-align: center;
    font-size: 18px;
}
.text1 {
    margin-left: 5%;
    color: darkgreen;
    font-family: helvetica;
    text-align: center;
    font-size: 18px;
    margin-bottom: 5%;
}
 .col-sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        margin-bottom:.5%;
        margin-top:.5%;
        padding-right:5%
}

.size{
    font-size: 20px;
}